<div class="container">
  <div class="grid wide">
    <div class="row">
      <div class="col l-4 m-12 c-12">
        <div class="left">
          <div class="left__title">
            <h3>Phiếu mua hàng LNStore</h3>

            <p>Khách hàng là thượng đế =))</p>
          </div>

          <div class="left__form">
            <form class="form-group">
              <h5>Tên đầy đủ:</h5>
              <input
                #fullName
                type="text"
                name="fullName"
                placeholder="VD: Nguyễn Văn Long"
                (blur)="handleCheckDataFullName(fullName.value)"
              />
              <span>{{ checkDataFullName }}</span>
            </form>

            <form class="form-group">
              <h5>Email:</h5>
              <input
                #email
                type="text"
                placeholder="VD: LongNV@gmail.com"
                (blur)="handleCheckDataEmail(email.value)"
              />
              <span>{{ checkDataEmail }}</span>
            </form>

            <form class="form-group">
              <h5>Giá tiền:</h5>
              <input
                #price
                type="number"
                placeholder="VD: 2.000.000"
                (blur)="handleCheckDataPrice(price.value)"
              />
              <span>{{ checkDataPrice }}</span>
            </form>

            <form class="form-group">
              <h5>Địa chỉ:</h5>
              <input
                #address
                type="text"
                placeholder="VD: Nguyễn Tuân - Hà Nội"
                (blur)="handleCheckDataAddress(address.value)"
              />
              <span>{{ checkDataAddress }}</span>
            </form>

            <form class="form-group">
              <h5>Lưu ý:</h5>
              <input #note type="text" placeholder="Note" />
            </form>
          </div>

          <div class="left__submit">
            <button
              (click)="
                getData(
                  fullName.value,
                  email.value,
                  price.value,
                  address.value,
                  note.value
                )
              "
            >
              Mua
            </button>
          </div>
        </div>
      </div>

      <div class="col l-8 m-12 c-12">
        <div class="right">
          <div class="right__title">
            <h3>Return Data</h3>
          </div>

          <div class="right__table">
            <table>
              <tr>
                <td>STT</td>
                <td>Tên đầy đủ</td>
                <td>Email</td>
                <td>Giá tiền</td>
                <td>Địa chỉ</td>
                <td>Ghi chú</td>
              </tr>
              <tbody class="list"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
